* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:  "Inter", sans-serif;
    background-color: #2B3467;
    color: #D3E0EA;
}

input, textarea {
    border: 1px solid #D3E0EA;
    border-radius: 7px;
    margin: 9px 0;
    padding: 10px;
    font-family: "Inter", sans-serif;
    background-color: #D3E0EA;
    color: #3a3939;
}

.noteapp-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 23px;
    border-bottom: 1px solid #D3E0EA; 
}

.noteapp-header h2 {
    margin: 6px 0;
    font-size: 28px;
    flex: 1;
}

.note-input {
    margin: 0 auto 36px auto;
    max-width: 500px;
}

.note-input input, .note-input textarea {
    display: block;
    width: 100%;
}

.note-input__title__char-limit {
    text-align: right;
    color: #aaa;
    font-size: 15px;
    margin-bottom: 9px;
}

.note-input-body {
    min-height: 165px;
}

.note-input button {
    margin-top: 10px;
    width: 100%;
    font-family: "Inter", sans-serif;
    padding: 7px 0;
    border-radius: 7px;
    background-color: #D3E0EA;
    color: #3a3939;
}

.note-input button:hover {
    background-color: aliceblue;
    cursor: pointer;
}

.noteapp-body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 17px;
}

.noteapp-body h2 {
    margin: 0px auto 10px auto;
    font-weight: normal;
}

.note-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.note-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid #D3E0EA;
    border-radius: 5px;
}

.note-item__content {
    flex: 1;
    padding: 13px;
}

.note-item__title {
    margin-bottom: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.note-item__date {
    margin-bottom: 10px;
    font-size: 14px;
    color: #aaa;
}

.note-item__body {
    font-size: 16px;
    text-align: justify;
}

.note-item__button-delete {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 0;
    border-top: 1px solid #D3E0EA;
    padding: 8px 0;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: #FFE69A;
}

.note-item__button-delete:hover {
    color: #FFD24C;
}